{% extends 'base.html' %}

{% load static %}
{% load account socialaccount %}
{% load socialaccount %}
{% load django_bootstrap5 %}

{% block title %}ログイン{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-6 offset-md-3">
        <h1 class="h1 m-3 font-weight-normal text-center">ログイン</h1>
        <form action="{% url 'account_login' %}" method="post" novalidate>
            {% bootstrap_form_errors form layout='inline' type='non_fields' %}
            {% bootstrap_field form.login layout='inline' %}
            {% bootstrap_field form.password layout='inline' show_help=False %}
            {% bootstrap_field form.remember layout='inline' %}
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="d-grid mt-3">
                <button type="submit" class="btn btn-primary" >ログイン</button>
            </div>
        </form>
        <div class="my-3 text-center">OR</div>
        <div class="m-3 text-center">
            <form action="{% provider_login_url 'google' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="google_image">
                    <img src="{% static 'image/btn_google_signin.png' %}">
                </button>
            </form>
            <hr>
            <a href="{% url 'account_signup' %}" class="btn btn-success">新規ユーザ登録</a>
        </div>
    </div>
</div>
{% endblock %}
