{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title %}パスワード変更{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-6 offset-md-3">
        <h1 class="h1 m-3 font-weight-normal text-center">パスワード変更</h1>
        <form action="{% url 'account_change_password' %}" method="post" novalidate>
            {% bootstrap_form_errors form layout='inline' type='non_fields' %}
            {% bootstrap_form form layout='inline' %}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">更新</button>
        </form>
    </div>
</div>
{% endblock %}
