ul.errorlist {
    padding : 10px;
    background-color: red;
    border-radius: 5px;
}
ul.errorlist li{
    list-style :none ;
    color: white;
    font-size: 0.8em;
}
.helptext {
    padding: 10px 0;
    color: #3fa538;
    font-size: 80%;
}
.google_image{
    height: 48px;
}
